body {
    background-color: #f7f7f7;
}

textarea {
    min-height: 400px;
}

.emailread {
    background-color: rgb(180, 178, 178);
    border-radius: 5px;
}

.emailunread {
    background-color: white;
    border-radius: 5px;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}

.menu li:hover {
    color: #00aaff;
    font-weight: bold;
}

.menu li a {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}

a {
    text-decoration: none;
    background-color: none;
    color: red;
}

p {
    font-weight: bold;
}

.userEmail {
    background-color: #00aaff;
    border: none;
    padding: 10px 10px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f7fa;
    transition: all 0.3s ease;
}

.email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.email-header h3 {
    font-size: 24px;
    color: #333;
}

.email-list {
    list-style: none;
}

.email-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.subject {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    margin-left: 10px;
}

.timestamp {
    font-size: 14px;
    color: #777;
    flex-grow: 1;
}

.navbar-toggler {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding-right: 20px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
        transform: translateX(-110%);
        position: absolute;
        z-index: 100;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .menu li {
        font-size: 14px;
        padding: 8px;
    }

    .userEmail {
        font-size: 12px;
        padding: 8px 15px;
    }

    .main-content {
        padding: 10px;
        margin-left: 0;
    }

    .navbar-toggler {
        display: block;
    }

    .email-header h3 {
        font-size: 18px;
    }

    .email-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }

    .email-item input {
        margin-right: 5px;
    }

    .subject {
        font-size: 14px;
    }

    .timestamp {
        font-size: 12px;
    }
}