{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="sidebar" id="sidebar">
        <ul class="menu">
        <p class="userEmail"><i class="bi bi-person-circle"></i>{{ request.user.email }}</p>  
        <li id="inbox"><i class="bi bi-inbox"></i>Inbox</li>
        <li id="compose" ><i class="bi bi-pencil-square"></i>Compose</li>
        <li id="sent"><i class="bi bi-send"></i>Sent</li>
        <li id="archived"><i class="bi bi-archive"></i>Archived</li>
        <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Log Out</a>
        </ul>
    </div>

    <span class="navbar-toggler d-md-none">☰</span>

    <div class="main-content">

        <div id="emails-view">
        </div>

        <div id="emails-details-view">
        </div>

        <div id="compose-view">
            <div class="email-header">
                <h3>New Email</h3>            
            </div>
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Hamburger menu functionality
        const toggleButton = document.querySelector('.navbar-toggler');
        const sidebar = document.querySelector('.sidebar');
        
        toggleButton.addEventListener("click", function() {
            sidebar.classList.toggle("show");
        });

        // Hide sidebar when clicking outside
        document.addEventListener("click", function(event) {
            if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
                sidebar.classList.remove("show");
            }
        });
    });
</script>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}